:root {
  --heading-color: #808080;
}

body {
  margin: 0;
  /* font-family: 'Poppins', sans-serif;
  font-family: 'Special Elite', cursive; */
  font-family: "Work Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
